<!DOCTYPE html>
<html lang="en">
  <head><meta charset="utf-8">
  <title>${data.title}</title>
  <link rel="stylesheet" href="/dist/bundle.css"/>
</head>
<body>
  <div id="container">$!{data.body}</div>
  <script src="/dist/bundle.js"></script>
</body>
</html>
